body{
    margin: 10%;

}
.container{
    text-align: center;
}
p .form-check-input{
    border-radius: 10px;
    border: none;
    background-color: #e4c2c2;
}
label{

    font-size: 25px;
    position: relative;
    top: -60px;
}
input[type=submit]{
    border-radius: 10px;
    background-color: #c1d6f7;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    right: -30px;
}